html {
    scroll-behavior: smooth;
}

/* <------------------Header---------------------> */

header table tr th {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    font-size: larger;
    font-weight: bolder;
    margin: auto;
    padding: 5px;
}

header table tr th a:hover {
    color: gray;
    cursor: pointer;
}

/* <-----------------Logo--------------------------> */
header table th img {
    width: 40px;
    border-radius: 5px;
}

header table th a {
    text-decoration: none;
    color: black;
}

/* <--------------------------Main Body --------------------------------------> */
.profile img {
    width: 140px;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
}

.language img {
    width: 40px;
    border-radius: 10px;
}

.lancp img {
    width: 51px;
}

#content {
    color: white;
    background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* <-----------------------------Footer------------------------------------> */

#contact {
    background-color: gray;
    font-weight: normal;
    font-size: large;
    align-items: center;
    text-align: center;
}

#contact a {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

#contact a:hover {
    color: rgb(59, 59, 148);
}
footer img{
    display: inline-block;
    width: 40px;
    border-radius: 20px;
}