input{
    height: 30px;
    width: 220px;
}
body{
    align-items: center;
    text-align: center;
}
button{
    border: none;
    height: 30px;
    background-color: rgb(197, 254, 235);
    border-radius: 6px;
    
}
button:hover{
    background-color: aqua;
    cursor: pointer;
    border: none;
    height: 30px;
    color: white;
}
textarea{
    font-size: 19px;
}
#ans{
    border: 0.01px solid rgb(109, 109, 109);
    padding: 15px;
    border-radius: 8px;
}